# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE configuration files
.vscode/

# Ignore compiled files
*.o
*.pyc
*.class

# Ignore specific folders
data/stooq

# Ignore log files
*.log

# Ignore sensitive files
.env
